#upgradeButton {
    	-fx-background-image: url("../image/click.png");
    	-fx-background-color:transparent;
    	-fx-background-size: 85 40;
    	-fx-background-repeat: no-repeat;
    	-fx-background-position:left;
    	-fx-text-fill: #bf3737;

 }
#upgradeButton:hover {
   -fx-border-color:#e21d1d;
 }

#closeButton {
    	-fx-background-image: url("../image/close.png");
    	-fx-background-color:transparent;
    	-fx-background-size: 28 28;
    	-fx-background-repeat: no-repeat;
    	-fx-background-position:center;
}

#closeButton:hover {
   -fx-background-color:#e8e8e8;
}
